.on-hold {
  width: 5.375rem;
  height: 2.375rem;
  flex-shrink: 0;
  color: #ffab2d;
  font-family: Cairo;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 0.5625rem;
  background: #FFEDCC;
  border: 0px;
  cursor: pointer;
}

.reject {
  width: 5.375rem;
  height: 2.375rem;
  flex-shrink: 0;
  color: #F92E00;
  font-family: Cairo;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 0.5625rem;
  background: rgba(255, 141, 116, 0.20);
  border: 0px;
  cursor: pointer;
}

.prio {
  height: 3rem;
  display: flex;
  align-items: center;
  column-gap: 0.7rem;
}

.prio img {
  width: 0.875rem;
  height: 0.75rem;
  flex-shrink: 0;
}

.td-flex{
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.9rem;
  /* border: 1px solid; */
  /* padding: 0.5rem; */
}
.action-column{
  transform: rotate(90deg);
}
.mediumIcon {
  color: #FFAB2D;
  font-family: 'Roboto', sans-serif;
  font-size: "1rem";
      font-style: "normal";
      font-weight: 400;
      line-height: "1.5rem",
}